{% extends 'base.html' -%}


{%- set active_menu_item = 0 if active_menu_item is not defined else active_menu_item %}


{% block title -%}

{% if title is defined -%}
Doctor panel - {{ title }}
{%- else -%}
Doctor panel
{%- endif %}

{%- endblock %}


{% block side_menu -%}

<div class="side-menu-item" id="side-menu-header">
    <label>Doctor panel</label>
</div>
<div class="side-menu-item{% if active_menu_item == 1 %} side-menu-item-active{% endif %}">
    <a href="{{ url_for('doctor.booked_apps') }}">
        <span class="booked-counter">{{ g.booked }}</span>
        Booked appointments
    </a>
</div>
<div class="side-menu-item{% if active_menu_item == 2 %} side-menu-item-active{% endif %}">
    <a href="{{ url_for('doctor.unfilled_apps') }}">
        {%- if g.unfilled > 0 -%}
        <span class="unfilled-counter">{{ g.unfilled }}</span>
        {%- endif -%}
        Unfilled appointments
    </a>
</div>
<div class="side-menu-item{% if active_menu_item == 3 %} side-menu-item-active{% endif %}">
    <a href="{{ url_for('doctor.archived_apps') }}">Archived appointments</a>
</div>

{%- endblock %}
