{%- extends 'admin_panel/base.html' %}

{%- from 'macros.html' import paginated_table, render_filters, render_admin_controls %}

{%- block header -%}
List of appointments
{%- endblock %}

{%- block body %}

{%- call render_filters(form, endpoints['item'])%}
<div class="filters-field">
    {{ form.doctor_name.label() }}
    {{ form.doctor_name() }}
</div>
<div class="filters-field">
    {{ form.patient_name.label() }}
    {{ form.patient_name() }}
</div>
<div class="filters-field">
    {{ form.date.label() }}
    {{ form.date() }}
</div>
{%- endcall %}
<div class="income">
    <label>Total income for filtered appointments:</label>
    <label style="font-weight:bold">{{ income }}</label>
</div>
{%- set headers =  ('Doctor', 'Patient', 'Date', 'Time', 'Conclusion', 'Prescription', 'Bill') %}
{%- call(item) paginated_table(data, headers) %}
<td class="links">
    <a href="{{ url_for('admin.doctor', uuid=item.doctor.uuid) }}">{{ item.doctor.full_name }}</a>
</td>
<td class="links">
    <a href="{{ url_for('admin.patient', uuid=item.patient.uuid) }}">{{ item.patient.full_name }}</a>
</td>
<td class="center-text">{{ item.date }}</td>
<td class="center-text">{{ item.time }}</td>
<td class="tooltip">{% if item.conclusion %}
    <div><span>{{ item.conclusion }}</span></div>
    {% endif %}
</td>
<td class="tooltip">{% if item.prescription %}
    <div><span>{{ item.prescription }}</span></div>
    {% endif %}
</td>
<td class="center-text">{% if item.bill %}{{ item.bill }} UAH{% endif %}</td>
{{ render_admin_controls(item, endpoints, 'time', 'appointment') }}
{% endcall %}

{% endblock %}