{% set animated = True if patient else False %}

{%- extends 'admin_panel/base.html' %}

{%- from 'macros.html' import paginated_table, render_filters, render_admin_controls %}

{%- block header -%}
List of doctors{% if doctor %} - Book appointment for patient {{ patient.full_name }}{% endif %}
{%- endblock %}

{%- block body %}

{%- call render_filters(form, endpoints['item'])%}
<div class="filters-field">
    {{ form.search_name.label() }}
    {{ form.search_name() }}
</div>
{%- endcall %}

{%- set headers =  ('Full name', 'Speciality', 'Experience', 'Info', 'Email') %}
{%- call(item) paginated_table(data, headers) %}
<td>{{ item.full_name }}</td>
<td class="tooltip">
    <div><span>{{ item.speciality }}</span></div>
</td>
<td>{{ item.experience_years }} years</td>
<td class="tooltip">
    <div><span>{{ item.info }}</span></div>
</td>
<td class="links">
    {%- if item.user -%}
    <a href="{{ url_for('admin.user', uuid=item.user.uuid) }}">
        {{- item.user.email -}}
    </a>
    {%- endif %}
</td>
{{ render_admin_controls(item, endpoints, 'full_name', 'doctor', {'patient':patient.uuid or None}) }}
{% endcall %}

{% endblock %}