{% extends 'admin_panel/base.html' -%}

{%- from 'macros.html' import render_field -%}

{%- block header %}
{{ 'Edit' if item else 'Create'}} {{ item_name }}
{%- endblock %}

{%- block body %}
<div class="info-block">
    <div class="info-item">
        <form class="common-form" method="post">
            {%- if item_name == 'appointment' %}
            <div class="field-container">
                <label>Doctor's full name:</label>
                <span>{{ doctor.full_name}}</span>
            </div>
            <div class="field-container">
                <label>Patient's full name:</label>
                <span>{{ patient.full_name}}</span>
            </div>
            {%- endif %}
            {{ form.hidden_tag() }}
            {%- for field in form if field.name not in ('submit', 'csrf_token') %}
            {% set kwargs = {'readonly': ''} if (item or item_name=='appointment') and field.name in readonly else {} %}
            {{ render_field(field, kwargs) }}
            {%- endfor %}
            <div class="submit-in-end">{{ form.submit() if item else form.submit(value='Create') }}</div>
            {% if item %}
            <div class="submit-in-end">
                <a class="del-link action-link"
                   onclick="confirmPostEmpty('Delete {{item_name}}?', '{{url_for(endpoints['delete'], uuid=item.uuid)}}')">
                    delete
                </a>
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}