<!DOCTYPE html>
<html class="flex-col" lang="en">
<head>
    <link href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet" type="text/css">
    <link type="image/x-icon" rel="shortcut icon" href="{{ url_for('static',filename='media/favicon.ico') }}">
    <meta charset="UTF-8">
    <title>
        {%- block title -%}
        {% if title -%}
        Clinic - {{ title }}
        {%- else -%}
        Clinic
        {%- endif %}
        {%- endblock -%}
    </title>
</head>
<body class="flex-col">
<script>
    function confirmPostEmpty(message, url) {
        if (confirm(message) == true) {
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', url);
            document.body.appendChild(form);
            form.submit();
        }
    }

</script>
<div class="page-header controls">
    <div class="main-menu">
        <div class="main-menu-item">
            <a href="{{ url_for('general.index') }}" id="home-breadcrumb"></a>
        </div>
        <div class="main-menu-item">
            <a href="{{ url_for('general.doctors') }}">Doctors</a>
        </div>
        {% if current_user.doctor -%}
        <div class="main-menu-item">
            <a href="{{ url_for('doctor.index') }}">Doctor panel</a>
        </div>
        {%- endif -%}
        {% if current_user.is_admin -%}
        <div class="main-menu-item">
            <a href="{{ url_for('admin.index') }}">Admin panel</a>
        </div>
        {%- endif %}
    </div>
    <div class="auth">
        {% if current_user.is_authenticated -%}
        <div class="profile-link">
            <a href="{{ url_for('auth.profile') }}">{{ current_user.email }}</a>
        </div>
        <div class="log-link" id="logout">
            <a href="{{ url_for('auth.logout', next=request.url) }}">logout</a>
        </div>
        {% else -%}
        <div class="log-link" id="login">
            <a href="{{ url_for('auth.login') }}">login</a>
        </div>
        {%- endif %}
    </div>
</div>

<div class="page-body">
    <div class="side-menu flex-col controls">
        {%- block side_menu -%}
        {% endblock %}
    </div>
    <div class="main-container flex-col">
        <div class="flashes flex-col">
            {% for category, message in get_flashed_messages(True) %}
            <div class="flash {{category}}">{{ message }}</div>
            {% endfor %}
        </div>
        <h2>{% block header %}{% endblock %}</h2>
        <hr style="margin:0px" width="100%"/>
        {%- block body -%}
        {% endblock %}
    </div>
</div>
<div class="page-tail flex-col">
    <hr/>
    {%- block tail -%}
    {% endblock %}
</div>
</body>
</html>
