{% set title='Doctors' -%}

{% extends 'base.html' -%}

{%- from 'macros.html' import pagination -%}

{%- block header -%}
Our doctors
{%- endblock %}

{%- block body %}
{%- call pagination(data) %}
<div class="doctors-container pagination-container">
    {%- for doctor in data['items'] %}
    <div class="doctor-item">
        <label style="font-size:24px">{{ doctor['full_name'] }}</label>
        <label><b>{{ doctor['experience_years'] }}</b> лет практики</label>
        <label style="font-weight:bold">{{ doctor['speciality'] }}</label>
        <label>{{ doctor['info'] }}</label>
    </div>
    {%- endfor %}
</div>
{%- endcall %}
{%- endblock -%}