body {
    margin: 0px;
}

a {
    color: blue;
}

#main_header {
    padding: 20px;
    padding-left: 40px;
    height: 37px;
    background: #FEF1D4;
}

#main_header h1 {
    margin: 0px;
    color: #735002;
}

#content {
    padding: 8px;
}

#header h2 {
    padding: 18px;
    margin: 0px;
}

.main_menu, .menu {
    list-style: none;
    margin-block: 0px;
    padding-inline-start: 0px;
}

.main_menu {
    width: max-content;
    padding-inline-start: 10px;
}

.menu {
    display: flex;
    margin-block-start: 10px;
}

.main_menu_item, .menu_item {
    padding: 8px;
    margin: 5px;
    border-radius: 12px;
}

.main_menu_item {
    background: #E2FAC4;
}

.menu_item {
    background: #eee;
}

.big_table {
    width: max-content;
}

.big_table table {
    border-collapse: collapse;
}

.big_table th {
    background: #FFE593;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border: 3px double #222;
}

.big_table td {
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #222;
}

.r_best {
    background: #E4F6E9;
}

.r_worst {
    background: #FFF9DC;
}

.col_index {
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
}

.col_time, .col_code {
    text-align: center;
}

.driver_table {
    border: 2px solid #FFE593;
    border-radius: 10px;
    display:inline-block;
    padding: 5px;
}

.driver_table th {
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
}

.table_action {
    display: flex;
    justify-content: flex-end;
}

.table_action a {
    color: green;
}
